<h2>{{country.name}}</h2>

<p>Confirmed: {{country.confirmed}}</p>
<p>Recovered: {{country.recovered}}</p>
<p>Deaths: {{country.deaths}}</p>

<h3>Quarantine</h3>
<p>{{quarantine.phase}}</p>

<a href="/edit/{{country._id}}">Edit</a>
<a href="/delete/{{country._id}}">Delete</a>
<a href="/">Go home</a>