<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <h1>Hi {{name}}</h1>
    <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif">

    {{#if user}}
    <button>Profile</button>
    {{else}}
    <button>Login</button>
    {{/if}}
    {{#unless user}}
    <button>Profile</button>
    {{/unless}}
    <br>
    <ul>
        {{#each cities}}
        <li>
            <div class="alert alert-info" role="alert">
                {{this}}
            </div>
        </li>
        {{/each}}
    </ul>

    {{!-- <h2>{{address.street}}</h2> --}}
    {{#with address}}


    <h2>{{street}}</h2>
    {{!-- as puedes salir del alcance dentro de un with o un each --}}
    <p>{{../name}}</p>


    {{/with}}


</body>

</html>