<div class="row">
  <div class="col-sm-12 col-md-3">
    <h2>Username: {{name}}</h2>
    <b>Email: {{email}}</b>
  </div>
  <div class="col-sm-12 col-md-9">
    <div class="row">
      {{#each posts}}
      <div class="col-sm-12 col-md-6">
        <div class="card" style="width: 18rem;">
          <img src={{imgPath}} class="card-img-top" alt="{{imgName}}">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{body}}</p>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-danger">Borrar</button>
            <button class="btn btn-warning">Editar</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>